.bibbase_group {
    background-color: #000000;
}

#groupby_dropdown {
                display: none;
}

#menu_dropdown {
                display: none;
}

.bibbase_paper_content {
  background-color: #A9A9A9;
}

.bibbase.well {
  background-color: #0088cc;
}
