.bibbase_group {
    background-color: #404040;
}

#groupby_dropdown {
                display: none;
}

#menu_dropdown {
                display: none;
}

.bibbase_paper_content {
  background-color: #1b1f22;
}

.bibbase.well {
  background-color: #404040;
}

img.bibbase_icon {

    filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: grayscale(50%); /* Current draft standard */
    -webkit-filter: grayscale(50%); /* New WebKit */
    -moz-filter: grayscale(50%);
    -ms-filter: grayscale(50%);
    -o-filter: grayscale(50%);
    filter: white; /* IE6+ */
}
